{{- if .Values.service.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "s3-encryption-gateway.fullname" . }}
  labels:
    {{- include "s3-encryption-gateway.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "s3-encryption-gateway.selectorLabels" . | nindent 4 }}
{{- end }}

